<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <!-- Imports -->
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
        <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        
                
        <!-- Scripts -->
        <script>
            var app = angular.module('IndexApp',['ngCookies', 'angularModalService']);

    
    
            app.controller('IndexCtrl', ['$scope', '$http', '$cookies', 'ModalService', function($scope, $http, $cookies, ModalService) {
                    $scope.urlUserSvc = 'http://localhost:8080/services/user';
                    $scope.urlJobSvc = 'http://localhost:8080/services/job';
                    
                    $scope.user = null;
                    $scope.getUserDetails = function() {
                        var userIdString = $cookies.get('userId');
                        var userId = parseInt(userIdString);
                        $http({
                            method: 'GET',
                            url: $scope.urlUserSvc + '/users/' +  userId
                        }).then(
                                function success(response) {
                                    console.log('User data received');
                                    console.log(response.data);
                                    return response.data;
                                }
                        );
                    };
                    
                    $scope.jobs = null;
                    $scope.displayIndex = null;
                    $scope.isDisplayLeftArrow = null;
                    $scope.isDisplayRightArrow = null;
                    $scope.contentSize = 2000;
                    $scope.getJobs = function(index) {
                        var pageIndex = index + 1;
                        $http({
                            method: 'GET',
                            url: $scope.urlJobSvc + '/jobs?page=' +  pageIndex + '&size=' + $scope.contentSize
                        }).then(
                                function success(response) {
                                    console.log('Job data received page ' + pageIndex + ' size ' + $scope.contentSize);
                                    var data = response.data;
                                    console.log(data);
                                    
                                    $scope.jobs = data.content;
                                    var tempDisplayNumber = data.number + 1;
                                    $scope.displayIndex = tempDisplayNumber;
                                    $scope.isDisplayLeftArrow = !data.first;
                                    $scope.isDisplayRightArrow = !data.last;
                                }
                        );
                    };
                    
                    $scope.updateJob = function(updatedJob) {
                        $http({
                            method: 'PUT',
                            url: $scope.urlJobSvc + '/jobs/' + updatedJob.id,
                            data: updatedJob
                        }).then(
                                function success(response) {
                                    $scope.getJobs(0);
                                }
                        );
                    };
                    
                    $scope.invokeEditJobModal = function(title, job, successCb) {
                        var realJob = job ? job : null;
                        ModalService.showModal({
                            templateUrl: 'edit_modal.html',
                            controller: "EditModalController",
                            inputs: {
                                job: realJob,
                                title: title
                            }
                        }).then(function(modal) {
                            modal.element.modal();
                            modal.close.then(function(result) {
                                if(result) {
                                    console.log(result);
                                    successCb(result);
                                } else {
                                    $scope.getJobs(0);
                                }
                            });
                        });
                    };
                    
                    $scope.edit = function(job) {
                        $scope.invokeEditJobModal('Edit Job', job, function(result) {
                            $scope.updateJob(result);
                        });
                    };
                    
                    angular.element(document).ready(function () {
                        $scope.user = $scope.getUserDetails();
                        $scope.getJobs(0);
                    });
            }]);
        
        
        
            app.controller('EditModalController', ['$scope', 'job', 'title', 'close', function($scope, job, title, close) {
                    $scope.job = job;
                    $scope.title = title;
                    console.log($scope.job);
                    $scope.close = function(job) {
                        close(job, 500);
                    };
            }]);
        
        
        
        </script>
        
        
        
        <!-- Style -->
        <style>
            body { 
                background: gray;
            }
            
            h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: normal;
                width: 75%;
                padding-top: 8px;
                font-weight: bold;
            }
            
            .modal-body {
                margin: 10px;
            }
            
            .navbar {
                background: #F9F9F9;
            }
        </style>
        
        
        
    </head>
    <body ng-app="IndexApp" class="container">
        
        <nav class="navbar navbar-primary">
            <div class="container-fluid">
                <div class="nav navbar-nav">
                    <li><a href="/">Jobs</a></li>
                    <li><a href="/helpers">Helpers</a></li>
                    <li><a href="/logout">Logout</a></li>
                </div>
            </div>
        </nav>
        
        <div ng-controller="IndexCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">Current Jobs</h3>
                    <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span></button>
                    <div class="clearfix"></div>
                </div>
                <table class="table table-bordered table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Address</th>
                            <th>Description</th>
                            <th>Job Time</th>
                            <th>Accepted By</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="job in jobs">
                            <td>{{job.id}}</td>
                            <td>{{job.address}}</td>
                            <td>{{job.description}}</td>
                            <td>{{job.jobTime | date: 'd MMM @ h:m a'}}</td>
                            <td>{{job.acceptedBy || "None"}}</td>
                            <td class="text-center"><p><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" ng-click="edit(job)"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                            <td class="text-center"><p><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
            

        
        <!-- Edit Job Modal -->
        <script type="text/ng-template" id="edit_modal.html">
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{title}}</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label" for="description">Description</label>
                                    <div>
                                        <input type="text" class="form-control" id="description" placeholder="Enter description" ng-model="job.description">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="address">Address</label>
                                    <div>
                                        <input type="text" class="form-control" id="address" placeholder="Enter address" ng-model="job.address">
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label" for="job-time">Job Time</label>
                                    <div>
                                        <input type="datetime-local" class="form-control" id="job-time" placeholder="Enter job time" ng-model="job.jobTime">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="rendezvous-time">Rendezvous Time</label>
                                    <div>
                                        <input type="datetime-local" class="form-control" id="rendezvous-time" placeholder="Enter time to meet up with helper" ng-model="job.rendevousTime">
                                    </div>
                                </div> -->
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="close(job)" class="btn btn-primary" data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        
        
        
    </body>
    
</html>
