<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <!-- Imports -->
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
        <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        
                
        <!-- Scripts -->
        <script>
            var app = angular.module('UsersApp',['ngCookies', 'angularModalService']);

    
    
            app.controller('UsersCtrl', ['$scope', '$http', '$cookies', 'ModalService', function($scope, $http, $cookies, ModalService) {
                    $scope.urlUserSvc = 'http://localhost:8080/services/user';
                    
                    $scope.user = null;
                    $scope.getUserDetails = function() {
                        var userIdString = $cookies.get('userId');
                        var userId = parseInt(userIdString);
                        $http({
                            method: 'GET',
                            url: $scope.urlUserSvc + '/users/' +  userId
                        }).then(
                                function success(response) {
                                    console.log('User data received');
                                    console.log(response.data);
                                    return response.data;
                                }
                        );
                    };
                    
                    $scope.users = null;
                    $scope.displayIndex = null;
                    $scope.isDisplayLeftArrow = null;
                    $scope.isDisplayRightArrow = null;
                    $scope.contentSize = 2000;
                    $scope.getUsers = function(index) {
                        var pageIndex = index + 1;
                        $http({
                            method: 'GET',
                            url: $scope.urlUserSvc + '/users?page=' +  pageIndex + '&size=' + $scope.contentSize
                        }).then(
                                function success(response) {
                                    console.log('Users data received page ' + pageIndex + ' size ' + $scope.contentSize);
                                    var data = response.data;
                                    console.log(data);
                                    
                                    $scope.users = data.content;
                                    var tempDisplayNumber = data.number + 1;
                                    $scope.displayIndex = tempDisplayNumber;
                                    $scope.isDisplayLeftArrow = !data.first;
                                    $scope.isDisplayRightArrow = !data.last;
                                }
                        );
                    };
                    
                    
                    
                    // Resource requests
                    
                    $scope.createUser = function(newUser) {
                        $scope.submitUserInformationChange('POST', '/users', newUser);
                    };
                    
                    $scope.updateUser = function(updatedUser) {
                        $scope.submitUserInformationChange('PUT', '/users/' + updatedUser.id, updatedUser);
                    };
                    
                    $scope.submitUserInformationChange = function(method, path, job) {
                        $http({
                            method: method,
                            url: $scope.urlUserSvc + path,
                            data: job
                        }).then(
                                function success(response) {
                                    $scope.getUsers(0);
                                }
                        );
                    };
                    
                    $scope.deleteUser = function(job) {
                        var path = '/users/' + job.id;
                        $http({
                            method: 'DELETE',
                            url: $scope.urlUserSvc + path
                        }).then(
                                function success(response) {
                                    $scope.getUsers(0);
                                }
                        );
                    };
                    
                    
                    
                    // Modal invocations
                    
                    $scope.create = function() {
                        $scope.invokeEditUserModal('Create User', null, function(result) {
                            $scope.createUser(result);
                        });
                    };
                    
                    $scope.edit = function(user) {
                        $scope.invokeEditUserModal('Edit User', user, function(result) {
                            $scope.updateUser(result);
                        });
                    };
                    
                    $scope.invokeEditUserModal = function(title, user, successCb) {
                        var realUser = user ? user : null;
                        ModalService.showModal({
                            templateUrl: 'edit_modal.html',
                            controller: "EditModalController",
                            inputs: {
                                user: realUser,
                                title: title
                            }
                        }).then(function(modal) {
                            modal.element.modal();
                            modal.close.then(function(result) {
                                if(result) {
                                    console.log(result);
                                    successCb(result);
                                } else {
                                    $scope.getUsers(0);
                                }
                            });
                        });
                    };
                    
                    angular.element(document).ready(function () {
                        $scope.user = $scope.getUserDetails();
                        $scope.getUsers(0);
                    });
            }]);
        
        
        
            app.controller('EditModalController', ['$scope', '$http', 'user', 'title', 'close', function($scope, $http, user, title, close) {
                    $scope.urlUserSvc = 'http://localhost:8080/services/user';        
                    $scope.getRoles = function() {
                        $http({
                            method: 'GET',
                            url: $scope.urlUserSvc + '/users/roles'
                        }).then(
                                function success(response) {
                                    console.log('Roles data received');
                                    console.log(response.data);
                                    
                                    // Set the appropriate display role
                                    $scope.displayRole = user ? user.role : $scope.roles[1];
                                    
                                    // Rtn
                                    return response.data;
                                }
                        );
                    };
                    
                    $scope.roles = $scope.getRoles();
                    
                    $scope.user = user;
                    $scope.title = title;
                    
                    console.log($scope.user);
                    $scope.close = function(user) {
                        close(user, 500);
                    };
            }]);
        
        
        
        </script>
        
        
        
        <!-- Style -->
        <style>
            body { 
                background: gray;
            }
            
            h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: normal;
                width: 75%;
                padding-top: 8px;
                font-weight: bold;
            }
            
            .modal-body {
                margin: 10px;
            }
            
            .navbar {
                background: #F9F9F9;
            }
        </style>
        
        
        
    </head>
    <body ng-app="UsersApp" class="container">
        
        <nav class="navbar navbar-primary">
            <div class="container-fluid">
                <div class="nav navbar-nav">
                    <li><a href="/">Jobs</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/logout">Logout</a></li>
                </div>
            </div>
        </nav>
        
        <div ng-controller="UsersCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">Users</h3>
                    <button class="btn btn-success pull-right" ng-click="create()"><span class="glyphicon glyphicon-plus"></span></button>
                    <div class="clearfix"></div>
                </div>
                <table class="table table-bordered table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="user in users">
                            <td>{{user.id}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.role.name}}</td>
                            <!--<td class="text-center"><p><button class="btn btn-primary btn-xs" ng-click="edit(user)"><span class="glyphicon glyphicon-pencil"></span></button></p></td>-->
                            <td class="text-center"><p><button class="btn btn-danger btn-xs" ng-click="deleteUser(user)"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
            

        
        <!-- Edit Job Modal -->
        <script type="text/ng-template" id="edit_modal.html">
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="close(null)" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{title}}</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label" for="firstName">First Name</label>
                                    <div>
                                        <input type="text" class="form-control" id="firstName" placeholder="Enter first name" ng-model="user.firstName" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="lastName">Last Name</label>
                                    <div>
                                        <input type="text" class="form-control" id="lastName" placeholder="Enter last name" ng-model="user.lastName" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="Email">Email</label>
                                    <div>
                                        <input type="text" class="form-control" id="email" placeholder="Enter email" ng-model="user.email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="username">Username</label>
                                    <div>
                                        <input type="text" class="form-control" id="username" placeholder="Enter username" ng-model="user.username" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="password">Password</label>
                                    <div>
                                        <input type="text" class="form-control" id="password" placeholder="Enter password" ng-model="user.password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="role">Role</label>
                                    <div>
                                        <input type="text" class="form-control" id="role" placeholder="Enter role" ng-model="displayRole.name" required>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="close(job)" class="btn btn-primary" data-dismiss="modal">Save</button>
                            <button type="button" ng-click="close(null)" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        
        
        
    </body>
    
</html>
